header {
  text-align: center;
  font-family: monospace;
  position: relative; }
  header h1 {
    color: #4768D7; }

a {
  color: #4768D7; }

.navbar {
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0; }
  .navbar ul {
    list-style-type: none;
    padding: 13px;
    border: 1px solid #4768D7; }
    .navbar ul li {
      display: inline-block;
      padding: 0; }
      .navbar ul li .nav-link {
        color: #4768D7;
        font-family: monospace;
        padding: 15px;
        margin-right: 5px;
        text-decoration: none; }
        .navbar ul li .nav-link:hover {
          border-right: 1px solid #4768D7;
          border-left: 1px solid #4768D7;
          background: none; }

.main {
  border: 1px solid #4768D7;
  font-family: monospace;
  padding: 20px;
  width: 70%;
  left: 13%;
  margin-bottom: 10px;
  user-select: none;
  position: relative;
  top: 100px; }
  .main p {
    color: #4768D7; }
    .main p:hover {
      text-decoration: underline;
      cursor: none; }
  .main h2 {
    color: #4768D7;
    text-decoration: underline; }
    .main h2:after {
      content: ':'; }
  .main ul li {
    font-family: monospace;
    color: #4768D7; }

.btn {
  padding: 10px;
  background-color: #C5810C;
  border-radius: 6px;
  text-decoration: none;
  color: #FFB10E; }
  .btn:hover {
    background-color: #78500C;
    color: #fff;
    text-decoration: underline; }

.card {
  position: relative;
  width: 34.12%;
  height: 200px;
  left: 13%;
  top: 6rem;
  float: left;
  margin-top: 15px;
  margin-bottom: 0;
  margin-right: 45px; }
  .card .card_front, .card .card_back {
    border: 1px solid #4768D7;
    position: absolute;
    width: 100%;
    padding: 10px;
    font-family: monospace;
    transition: all 0.3s;
    user-select: none;
    backface-visibility: hidden;
    color: #4768D7; }
    .card .card_front h4, .card .card_back h4 {
      text-align: center; }
    .card .card_front:hover, .card .card_back:hover {
      cursor: pointer; }
  .card .card_back {
    transform: rotateY(-180deg); }
    .card .card_back h4 {
      text-align: left; }
    .card .card_back p:hover {
      text-decoration: underline; }

.card_click .card_front, .card_click .card .card_back, .card .card_click .card_back {
  transform: rotateY(-180deg); }

.card_click .card_back {
  transform: rotateY(0); }
